*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
    color: var(--font-col-1);
    overflow: hidden;
    user-select: none;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-col-6);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
button {
    background-color: transparent;
    outline: none;
    border: none;
}



input {
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0.8);
}
input {
    accent-color: var(--col-1);
}



svg {
    width: 40px;
}
svg.white-hover, svg.white-hover *, svg.main-color-hover, svg.main-color-hover * {
    transition: 100ms;
}
svg.stroke, svg.stroke * {
    stroke: var(--font-col-1);
}
svg.stroke.white-hover:hover, svg.stroke.white-hover:hover * {
    stroke: white;
}
svg.stroke.main-color-hover:hover, svg.stroke.main-color-hover:hover * {
    stroke: var(--bg-col-6);
}
svg.fill, svg.fill * {
    fill: var(--font-col-1);
}
svg.fill:hover, svg.fill:hover * {
    fill: white;
}
svg.fill.white-hover:hover, svg.fill.white-hover:hover * {
    fill: white;
}
svg.fill.main-color-hover:hover, svg.fill.main-color-hover:hover * {
    fill: var(--bg-col-6);
}



::-webkit-scrollbar {
    width: var(--scroll-width);
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: calc(var(--scroll-width) / 2);
}
::-webkit-scrollbar-thumb {
    background: var(--bg-col-8);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-col-6);
}



.arrow {
    font-family: Courier;
    font-weight: 900;
}
.cross {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transform: rotate(45deg);
    cursor: pointer;
}



div.page {
    height: calc(100vh - var(--frame-height));
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: var(--aside-container-width) var(--center-container-width) var(--aside-container-width);
}
div.page > section.aside-container {
    background-color: var(--bg-col-4);
}
div.page > header {
    background-color: var(--col-1);
    grid-column: 1 / 4;
}
