nav.class-tabs-nav {
    background-color: var(--bg-col-3);
}
nav.class-method-tabs-nav {
    background-color: var(--bg-col-5);
}



nav.class-tabs-nav > ul,
nav.class-method-tabs-nav > ul {
    height: 100%;
    display: flex;
}
nav.class-tabs-nav > ul > li,
nav.class-method-tabs-nav > ul > li {
    min-width: 8rem;
    padding-inline: 0.7rem;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--bg-col-7);
    cursor: pointer;
}
nav.class-tabs-nav > ul > li:last-of-type,
nav.class-method-tabs-nav > ul > li:last-of-type {
    border-right: 1px solid var(--bg-col-7);
}
nav.class-tabs-nav > ul > li.on,
nav.class-method-tabs-nav > ul > li.on {
    cursor: default;
}
nav.class-tabs-nav > ul > li.on,
nav.class-tabs-nav > ul > li:hover {
    background-color: var(--bg-col-5);
}
nav.class-method-tabs-nav > ul > li.on,
nav.class-method-tabs-nav > ul > li:hover {
    background-color: var(--bg-col-7);
}
