.node {
    min-width: calc(var(--secondary-grid-size) * 10);
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 0.5rem;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid black;
    border-radius: 0.6rem;
    font-size: 0.75rem;
    scale: 0;
    animation: fade-in-from-center 250ms ease-out forwards;
    transition: outline 50ms;
    z-index: 20;
}
.node.focused {
    outline: 2px solid rgb(188, 140, 37);
}



.node > header {
    padding: 0.4rem 0.6rem;
    font-weight: bold;
    grid-column: 1 / -1;
}
.node.function > header {
    background-color: rgb(73, 73, 73);
}
.node.operation > header {
    background-color: black;
}



.node > ul.input-container,
.node > ul.output-container {
    display: flex;
    flex-direction: column;
    overflow: visible;
}



.node > ul > li {
    height: 34px;
    padding-inline: 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.node > ul.output-container > li {
    flex-direction: row-reverse;
}
.node > ul > li > p {
    white-space: nowrap;
}



.node > ul > li > .linker {
    width: 14px;
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 50%;
    background-color: black;
    overflow: visible;
}
.node > ul > li > .linker::after {
    content: "";
    width: 30px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: -10px;
    left: -10px;
}
.node > ul > li > .linker.execute {
    border: 2px solid var(--execute-color);
}
.node > ul > li > .linker.variable {
    border: 2px solid var(--variable-color);
}
.node > ul > li > .linker.execute.linked {
    background-color: var(--execute-color);
}
.node > ul > li > .linker.variable.linked {
    background-color: var(--variable-color);
}



.node > ul > li > input {
    width: 4rem;
    padding: 0.2rem 0.35rem;
    border-radius: 0.3rem;
}
.node > ul > li:has(.linker.linked) > input {
    display: none;
}



.link {
    position: absolute;
    border: 2px solid transparent;
    transform: translateY(-1px);
    opacity: 0.7;
    z-index: 19;
}
.link.execute {
    border-color: var(--execute-color);
    background-color: var(--execute-color);
}
.link.variable {
    border-color: var(--variable-color);
    background-color: var(--variable-color);
}
